{% extends "base.html" %}

{%- block content %}
<div class="dw-shell"><div class="dw-article">
    <header>
        <p class="dw-kicker"><span>Taxonomy</span><span>{{ terms | length }} term{{ terms | length | pluralize }}</span></p>
        <h1>{{ taxonomy.name | capitalize }}</h1>
    </header>
    <ul class="dw-tags dw-tags--cloud">
    {%- for term in terms %}
        <li><a href="{{ term.permalink | safe }}">{{ term.name }}<small>{{ term.pages | length }}</small></a></li>
    {%- endfor %}
    </ul>
</div></div>
{%- endblock content %}
