name: Corprus Crucible Manufacturing

on:
  push:
    branches: main
    tags: ['*']

jobs:
  release:
    strategy:
      matrix:
        os: [macos-latest, macos-15-intel, ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}
    
    permissions:
      contents: write
      id-token: write
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Run Corprus Crucible
        uses: DreamWeave-MP/StroggForge/.github/actions/corprus-crucible@v1
        with:
          binary_name: 'vfstool'
          vt_api_key: ${{ secrets.VT_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
    
